<form [formGroup]="form" (submit)="submitForm()">
  <div class="row">
    <div class="col">
      <label for="date" i18n>Date</label>
      <div class="input-group">
        <input
          id="date"
          class="form-control"
          placeholder="mm-dd-yyyy"
          name="date"
          [(ngModel)]="model"
          ngbDatepicker
          #d="ngbDatepicker"
          formControlName="date"
          required
        />
        <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
      </div>
    </div>
    <div class="col">
      <label for="source" i18n>Source</label>
      <input type="text" class="form-control" id="source" formControlName="source" required>
    </div>
    <div class="col">
      <label for="income" i18n>Income</label>
      <input type="number" class="form-control" id="income" formControlName="income" required>
    </div>
    <div class="col">
      <button class="btn btn-primary submit-btn" i18n>Save</button>
      <button class="btn btn-warning submit-btn" style="margin-left: 5px" (click)="goBack()" i18n>Back</button>
    </div>
  </div>
</form>
