<form [formGroup]="form" (submit)="submitForm()">
  <div class="row">
    <div class="col">
      <label for="datum" i18n>Datum</label>
      <div class="input-group">
        <input
          id="datum"
          class="form-control"
          placeholder="mm-dd-yyyy"
          name="datumKupovine"
          [(ngModel)]="model"
          ngbDatepicker
          #d="ngbDatepicker"
          formControlName="date"
          required
        />
        <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
      </div>
    </div>
    <div class="col">
      <label for="izvor" i18n>Izvor</label>
      <input type="text" class="form-control" id="izvor" formControlName="source" required>
    </div>
    <div class="col">
      <label for="zarada" i18n>Prihod</label>
      <input type="number" class="form-control" id="zarada" formControlName="income" required>
    </div>
    <div class="col">
      <button class="btn btn-primary submit-btn" i18n>Sačuvaj</button>
      <button class="btn btn-warning submit-btn" style="margin-left: 5px" (click)="goBack()" i18n>Nazad</button>
    </div>
  </div>
</form>
