<form (submit)="submitForm()" [formGroup]="form">
  <div class="row">
    <div class="col">
      <label for="shoppingDate">Date</label>
      <div class="input-group">
        <input
          id="shoppingDate"
          class="form-control"
          placeholder="mm-dd-yyyy"
          name="shoppingDate"
          [(ngModel)]="model"
          ngbDatepicker
          #d="ngbDatepicker"
          formControlName="date"
          required
        />
        <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
      </div>
    </div>
    <div class="col">
      <label for="shop" i18n>Shop</label>
      <input type="text" class="form-control" formControlName="shop" id="shop" required>
    </div>
    <div class="col">
      <label for="cost" i18n>Cost</label>
      <input type="number" class="form-control" formControlName="expense" id="cost" required>
    </div>
    <div class="col">
      <label for="category" i18n>Category</label>
      <select class="form-control" formControlName="category" id="category" required>
        <option *ngFor="let category of categoryObject.categoryList" [ngValue]="category">
          {{category.category_name}}
        </option>
      </select>
    </div>
    <div class="col">
      <button class="btn btn-primary submit-btn" i18n>Save</button>
      <button class="btn btn-warning submit-btn" style="margin-left: 5px" (click)="goBack()" i18n>Back</button>
    </div>
  </div>
</form>
