<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title" i18n>Edit income</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="mb-3">
      <label for="date" i18n>Date</label>
      <div class="input-group">
        <input
          id="date"
          class="form-control"
          placeholder="mm-dd-yyyy"
          name="date"
          [(ngModel)]="model"
          ngbDatepicker
          #d="ngbDatepicker"
          formControlName="date"
          required
        />
        <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
      </div>
      <div class="row">
        <label for="source" i18n>Source</label>
        <input type="text" class="form-control" id="source" formControlName="source" required>
      </div>
      <div class="row">
        <label for="cost" i18n>Cost</label>
        <input type="number" class="form-control" id="cost" formControlName="income" required>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="close()" i18n>Save</button>
</div>
