<form (submit)="submitForm()" [formGroup]="form">
  <div class="row">
    <div class="col">
      <label for="datumKupovine" i18n>Datum</label>
      <div class="input-group">
        <input
          id="datumKupovine"
          class="form-control"
          placeholder="mm-dd-yyyy"
          name="datumKupovine"
          [(ngModel)]="model"
          ngbDatepicker
          #d="ngbDatepicker"
          formControlName="date"
          required
        />
        <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
      </div>
    </div>
    <div class="col">
      <label for="prodavnica" i18n>Prodavnica</label>
      <input type="text" class="form-control" formControlName="shop" id="prodavnica" required>
    </div>
    <div class="col">
      <label for="potrosnja" i18n>Trošak</label>
      <input type="number" class="form-control" formControlName="expense" id="potrosnja" required>
    </div>
    <div class="col">
      <label for="kategorija" i18n>Kategorija</label>
      <select class="form-control" formControlName="category" id="kategorija" required>
        <option *ngFor="let category of categoryObject.categoryList" [ngValue]="category">
          {{category.category_name}}
        </option>
      </select>
    </div>
    <div class="col">
      <button class="btn btn-primary submit-btn" i18n>Sačuvaj</button>
      <button class="btn btn-warning submit-btn" style="margin-left: 5px" (click)="goBack()" i18n>Nazad</button>
    </div>
  </div>
</form>
